.navbar {
    background-color: gold;
    margin-top: 2%;

    padding: 1.5%;
    padding-left: 0%;

    border-radius: 25px;
}

.navbar li {

    margin-top: 0%;
    margin-right: 0.5%;
    margin-bottom: 0%;
    margin-left: 0%;
    
    padding: 1.5%;

    display: inline;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}



.navbar li.button {
    border-color: darkgoldenrod;
    border-style: solid;
    border-radius: 25px;

    border-width: 1px;

    transition: 0.1s;
}

.navbar li.button:hover {
    background-color:goldenrod;
}



.navbar li.icon {
    width: 150px;
    height: 150px;
}




.blog {
    background-color: goldenrod;

    border-radius: 25px;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;

    padding-top: 5%;
    padding-bottom: 5%;


    font-family: Arial, Helvetica, sans-serif;
}

.blog .title {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



body {
    background-image: url('https://github.com/PGWECN/Brand-Kit/blob/Images/web%20bg.png?raw=true');
    background-repeat: no-repeat;
      background-attachment: fixed;
  background-size: cover;
  }